:root {
  --red: #c5004a;
  --darkred: #7f0036;
  --lightgray: #e0e0e0;
  --white: #fff;
  --tuna: #3e3f41;
  --studio: #6640B0;
  --pomegranate: #F22D1A;
}
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  color: var(--tuna);
  background-color: var(--white);
  letter-spacing: .015em;
}
body {
  display: flex;
  justify-content: center;
  min-width: 0;
}
h1 {
  margin-bottom: .3em;
}
.container {
  max-width: 37.5rem;
  width: 100%;
}
p,
.tmpl-post li {
  line-height: 1.45;
}
blockquote {
  font-style: italic;
}
a[href] {
  color: var(--studio);
  text-decoration: none;
  word-break: break-all;
}
a[href]:hover {
  color: var(--pomegranate);
}
main {
  padding: 0 1rem 1rem 1rem;
}
main :first-child {
  margin-top: 0;
}
header {
  display: flex;
  align-items: center;
}
pre,
code {
  font-family: monospace;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}
.highlight-line {
  display: block;
  padding: .125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: ' ';
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
h1.logo {
  padding: 0 1rem;
  margin: 1rem 0;
  font-size: 2em;
  letter-spacing: -.3em;
}
h1.logo a {
  color: var(--tuna);
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
}
.nav-item {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
}
.nav-item-active a {
  color: var(--pomegranate);
}

/* Post list */
.postlist {
  list-style-type: none;
  padding: 0;
}
.postlist-date {
  font-size: .8125em;
  color: var(--tuna);
}
.postlist-date {
  word-spacing: -.5px;
}
.postlist-link {
  display: inline-block;
  padding: .25em .1875em;
}
@media only screen and (max-width: 300px) {
  .postlist-date {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .postlist-item .post-tag {
    display: none;
  }
}

/* Tags */
.post-tag {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: .625em;
  padding: 2px 4px;
  margin: 0 .2em;
  background-color: var(--red);
  color: var(--white);
  border-radius: .25em;
  text-decoration: none;
}
a[href].post-tag,
a[href].post-tag:visited {
  color: #fff;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em .625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

/* Table */
table {
  width: 100%;
  margin-top: 1rem;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

thead {
  background-color: #f4f4f4;
}

thead th {
  text-align: left;
  padding: 0.5rem;
  border-bottom: 2px solid #ddd;
  font-weight: bold;
  color: #333;
}

tbody tr {
  border-bottom: 1px solid #eee;
}

tbody tr:nth-child(even) {
  background-color: #fafafa;
}

tbody td {
  padding: 0.5rem;
  color: #555;
}

tbody tr:hover {
  background-color: #f1f1f1;
}