h1 {
  font-size: 2.5em;
  padding-bottom: 20px;
}

h2 {
  padding-bottom: 15px;
}

#header {
    max-width: 776px;
    margin: 0 auto;
}

#body {
    max-width: 750px;
    margin: 0 auto;
}

* {
  font-family: 'Lato', sans-serif;
  line-height: 160%;
  font-size: 16px;
}

#footer-container {
  min-height: 60px;
  margin-top: 21px;
  margin-bottom: 21px;
  padding-top: 21px;
  padding-bottom: 21px;
}

#footer {
  max-width: 750px;
  margin: 0 auto;
  padding: 10px 0;
  border-top: 2px solid #e7e9ee;
}

.navbar {
  border-bottom: 2px solid #e7e9ee;
}

.small * {
  font-size: 10px;
}

#disqus_thread {
  margin-top: 25px;
}

@media (max-width: 750px) {
  #body {
    padding: 0 15px;
  }

  h1 {
    font-size: 1.9em;
  }

  h2 {
    font-size: 1.6em;
  }

  h3 {
    font-size: 1.4em;
  }

  h4 {
    font-size: 1.2em;
  }

  ul, ol {
    margin-left: -15px;
  }

  #footer {
    padding: 10px;
  }
}
