<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Niels Krijger - Blog</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/journal/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <div class="navbar navbar-default">
    <div id="header">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">NIELS KRIJGER</a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/pages/about">About</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="body-container">
    <div id="body">{{{body}}}</div>
  </div>

  <div id="footer-container">
    <div id="footer">
      Contact at <a href="mailto:niels@kryger.nl">niels@kryger.nl</a>.
    </div>
  </div>

  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-53446236-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>

</html>
